In [1]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
import time
from pprint import pprint
import pandas as pd

In [2]:
url = "https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"
executable_path = {"executable_path": "/usr/local/bin/chromedriver"}
browser= Browser("chrome", **executable_path, headless=False)

In [3]:
#browser = init_browser()
browser.visit(url)
time.sleep(1)
html = browser.html
soup = bs(html, 'html.parser')
content = soup.find_all('div', class_='content_title')
news_title=content[1].text
content1=soup.find_all('div',class_='article_teaser_body')
paragraph=content1[0].text
print(paragraph)
print(news_title)

Marvels of engineering, the rover's sample tubes must be tough enough to safely bring Red Planet samples on the long journey back to Earth in immaculate condition.
A Martian Roundtrip: NASA's Perseverance Rover Sample Tubes

In [4]:
#image
executable_path = {"executable_path": "/usr/local/bin/chromedriver"}
browser= Browser("chrome", **executable_path, headless=False)

url1 = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars#submit"
browser.visit(url1)

In [5]:
# browser = init_browser()
full_image=browser.find_by_id("full_image")
full_image.click()

browser.is_element_present_by_text("more info", wait_time=3)
more_info=browser.find_link_by_partial_text("more info")
more_info.click()

html = browser.html
image_soup = bs(html, 'html.parser')
img=image_soup.find("figure", class_="lede")

featured_image_url= 'https://www.jpl.nasa.gov' +(img.find('a').get('href'))
featured_image_url

/Users/priya.a/opt/anaconda3/lib/python3.7/site-packages/splinter/driver/webdriver/__init__.py:493: FutureWarning: browser.find_link_by_partial_text is deprecated. Use browser.links.find_by_partial_text instead.
  FutureWarning,

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA17838_hires.jpg'

In [6]:
#mars facts
url2 = "https://space-facts.com/mars/"
executable_path = {"executable_path": "/usr/local/bin/chromedriver"}
browser= Browser("chrome", **executable_path, headless=False)
# browser = init_browser()
browser.visit(url2)
time.sleep(1)
html = browser.html
soup = bs(html, 'html.parser')

mars_df = pd.read_html("https://space-facts.com/mars/")[0]
mars_df.columns=['Description','Value']
mars_df

            Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [7]:
mars_html= mars_df.to_html(classes = 'table table-striped')
print(mars_html)

<table border="1" class="dataframe table table-striped">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Description</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

In [8]:
#splinter  Mars Hemisphere

url="https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(url)

In [9]:

html=browser.html
soup=bs(html, 'html.parser')
    
desc= soup.find_all("div",class_="item")
main_url="https://astrogeology.usgs.gov"
#print(desc)
title=[]
image_url=[]
post={}

for  i in desc:
    title=(i.find('h3').text)
    partial_link=i.find('a',class_="itemLink product-item")['href']
    browser.visit(main_url + partial_link)

    partial_img_html=browser.html
    soup1=bs(partial_img_html,"html.parser")
    
    img= main_url+ soup1.find('img',class_='wide-image')['src']
#     image_url.append(img)
    
    post= [{"title": title, "img_url": img}]

    print(post)

[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'}]
[{'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'}]
[{'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'}]
[{'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]